<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="{{site.linkedin}}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="{{site.github}}"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="{{site.blog}}"><i class="fas fa-feather-alt"></i> Blog</a></li>
    </ul>
  </div>